p{
    color: red;
}
h2{
    background-color: blue;
}
.nav{
    background-color: coral;
    
}
.nav h2{
background-color: darkgrey;
width: 300px;
height: 30px;
border: solid 7px yellow;
border-radius: 30px;
margin: 20px;
}